*:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

body {
    background-color: black;
    padding: 10px;
    cursor: none;
}

.prints {
    color: white;
}

.input {
    background-color: black;
    color: white;
    border: none;
    border-bottom-style: solid;
    width: 450px;
    border-width: 2px;
}

.input-label {
    display: inline;
    color: white;
}