:root {
    --background: rgb(7, 7, 7);
    --color: rgb(247, 244, 244);
    --font-size: 15px;
    --terminal-heigth: 400px;
    --terminal-width: 400px;
    --pos-x: 15px;
    --pos-y: 15px;
    --corners: 10px;
    --title-font-size: 20px;
}

.input input::placeholder {
    color: var(--color);
    opacity: 80%;
    font-size: var(--font-size);
}

.terminal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    padding: 20px;
    font-size: var(--font-size);
    height: var(--terminal-heigth);
    inline-size: var(--terminal-width);
    position: relative;
    top: var(--pos-y);
    left: var(--pos-x);
    border-radius: var(--corners);
    overflow-wrap: break-word;
    overflow-y: scroll;
    
}

.terminal-title {
    color: var(--color);
    font-size: var(--title-font-size);
    margin-top: 3px;
    margin-bottom: 30px;
}

.terminal::-webkit-scrollbar {
    width: 5px;
    border-radius: var(--corners);
    border-radius: 0px var(--corners), var(--corners) 0px
} 

.terminal::-webkit-scrollbar-thumb {
    background-color: var(--color);
    opacity: 30px;
    border-radius: var(--corners);
}

.terminal::-webkit-scrollbar-track {
    margin: 10px;
}

.prints {
    margin: 0px;
    color: var(--color);
    margin-bottom: 10px;
}

.input {
    margin: 0px;
    background-color: var(--background);
    color: var(--color);
    font-size: var(--font-size);
    border: none;
    border-left-style: solid;
    border-width: 2px;
    min-width: 200px;
    max-width: 450px;
    margin-left: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
}

.input-label {
    margin: 0px;
    display: inline;
    color: var(--color);
    overflow-wrap: break-word;
}
