*:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

body {
    background-color: black;
    padding: 10px;
}

.input {
    background-color: black;
    color: white;
    border: none;
    border-bottom-style: solid;
    width: 450px;
}